{% extends 'student/base.html'  %}
{% load static %}
{# Load the tag library #}
{% load bootstrap4  %}

{# Load CSS and JavaScript #}
{% bootstrap_css  %}

{% bootstrap_javascript jquery='full' %}

<!-- {# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %} -->

{% block content  %}
    <section class="content pt-3">
        <div class="container-fluid"> 
            <div class="card card-default">
                <div class="card-header with-border">
                    <h3 style="text-align:center;">Employment History</h3>
                </div><!-- /.card-header -->
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title"> Present/Current Employment </h3>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        {{ edu_form.management_form }}
                                        <table class="table table-bordered table-responsive">
                                            <thead >
                                                <tr>
                                                <th>Name</th>
                                                <th>Industry Type</th>
                                                <th>Current Designation</th>
                                                <th>Duration</th>
                                                <th>Starting Salary</th>
                                                <th>Current  Salary</th>
                                                <th>Reason for Seaking change/lacving</th>
                                                <th>Address</th>
                                                <th>Phone No.</th>
                                                <th>Name and Designation of Supervisor</th>
                                                </tr>
                                            </thead>
                                            {% if employee_history %}
                                            <tbody>
                                                <tr>
                                                <td>{% bootstrap_field employee_history.name show_label=False %}</td>
                                                <td>{% bootstrap_field employee_history.industry_type show_label=False %}</td>
                                                <td>{% bootstrap_field employee_history.current_designation show_label=False %}</td>
                                                <td>{% bootstrap_field employee_history.period_of_service_from show_label=False %}{% bootstrap_field employee_history.period_of_service_to show_label=False %}</td>
                                                <td>{% bootstrap_field employee_history.starting_salary show_label=False %}</td>
                                                <td>{% bootstrap_field employee_history.current_salary show_label=False %}</td>
                                                <td>{% bootstrap_field employee_history.change_leaving show_label=False %}</td>
                                                <td>{% bootstrap_field employee_history.address show_label=False %}</td>
                                                <td>{% bootstrap_field employee_history.phonoe show_label=False %}</td>
                                                <td>{% bootstrap_field employee_history.supervisor show_label=False %}</td>
                                                </tr>                        
                                            </tbody>
                                            {% endif %}
                                        </table>
                                    </div>
                                </div>
                            </div>                                       
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title"> Previous Employment/Job </h3>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        {{ edu_form.management_form }}
                                        <table class="table table-bordered table-responsive">
                                            <thead >
                                                <tr>
                                                <th>Name</th>
                                                <th>Designation</th>
                                                <th>Duration</th>
                                                <th>Nature of Duties</th>
                                                <th>Email</th>
                                                <th>Last Salary Drawn</th>
                                                <th>Address</th>
                                                </tr>
                                            </thead>
                                            {% if previous_Employment %}
                                            <tbody>
                                                <tr>
                                                <td>{% bootstrap_field previous_Employment.name show_label=False %}</td>
                                                <td>{% bootstrap_field previous_Employment.designation show_label=False %}</td>
                                                <td>{% bootstrap_field previous_Employment.period_of_service_from show_label=False %}{% bootstrap_field previous_Employment.period_of_service_to show_label=False %}</td>
                                                <td>{% bootstrap_field previous_Employment.nature_of_duties show_label=False %}</td>
                                                <td>{% bootstrap_field previous_Employment.email show_label=False %}</td>
                                                <td>{% bootstrap_field previous_Employment.salary show_label=False %}</td>
                                                <td>{% bootstrap_field previous_Employment.address show_label=False %}</td>
                                                </tr>                        
                                            </tbody>
                                            {% endif %}
                                        </table>
                                    </div>
                                </div>
                            </div>                                       
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title"> References (Provide minimum 2 professional references)</h3>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        {{ edu_form.management_form }}
                                        <table class="table table-bordered table-responsive">
                                            <thead >
                                                <tr>
                                                <th>Name</th>
                                                <th>Designation</th>
                                                <th>Email</th>
                                                <th>Phone</th>
                                                <th>Nature of Association</th>
                                                <th>Address</th>
                                                </tr>
                                            </thead>
                                            {% for edu_form in reference %}
                                            <tbody>
                                                <tr>
                                                <td>{% bootstrap_field edu_form.name show_label=False %}</td>
                                                <td>{% bootstrap_field edu_form.designation show_label=False %}</td>
                                                <td>{% bootstrap_field edu_form.email show_label=False %}</td>
                                                <td>{% bootstrap_field edu_form.phonoe show_label=False %}</td>
                                                <td>{% bootstrap_field edu_form.nature_of_association show_label=False %}</td>
                                                <td>{% bootstrap_field edu_form.address show_label=False %}</td>
                                                </tr>                        
                                            </tbody>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>                                       
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">{% bootstrap_field form_p.applied show_label=False %} if yes, give Detailes</h3>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        {{ edu_form.management_form }}
                                        <table class="table table-bordered table-responsive">
                                            <thead >
                                                <tr>
                                                <th>Name of Company</th>
                                                <th>Position Applied For</th>
                                                <th>Date of Application</th>
                                                <th>Reason for Not Joining</th>
                                                </tr>
                                            </thead>
                                            {% for edu_form in general  %}
                                            <tbody>
                                                <tr>
                                                <td>{% bootstrap_field edu_form.name_of_company show_label=False %}</td>
                                                <td>{% bootstrap_field edu_form.position_applied_for show_label=False %}</td>
                                                <td>{% bootstrap_field edu_form.date_of_application show_label=False %}</td>
                                                <td>{% bootstrap_field edu_form.reason show_label=False %}</td>
                                                </tr>                        
                                            </tbody>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>                                       
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-6">
                            {% bootstrap_field form_p.e_salary_expected show_label=False %} 
                        </div>
                        <div class="col-md-6">
                            {% bootstrap_field form_p.e_joining_time_required show_label=False %} 
                        </div>
                        <div class="shadow p-3 mb-2 bg-white clo-md-6">
                            {% bootstrap_field form_p.e_declaration show_label=False %}                                
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title"> YOUR PRESENT EMOLUMENTS (ANNUAL)</h3>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        {{ edu_form.management_form }}
                                        <table class="table table-bordered table-responsive">                                                        
                                            {% if emoluments %}
                                            <tbody>
                                                <tr>                                                                
                                                    <td>{% bootstrap_field emoluments.basic show_label=False %}</td>                                                                
                                                    <td>{% bootstrap_field emoluments.da show_label=False %}</td>
                                                    <td>{% bootstrap_field emoluments.cca show_label=False %}</td>                                                                
                                                    <td>{% bootstrap_field emoluments.hra show_label=False %}</td> 
                                                </tr>
                                                <tr>                                                                
                                                    <td>{% bootstrap_field emoluments.conveyance show_label=False %}</td>                                                                
                                                    <td>{% bootstrap_field emoluments.lta show_label=False %}</td>
                                                    <td>{% bootstrap_field emoluments.anyother_allowences show_label=False %}</td>                                                                
                                                    <td>{% bootstrap_field emoluments.cross_income show_label=False %}</td>
                                                </tr>
                                                <tr>                                                                
                                                    <td>{% bootstrap_field emoluments.pf show_label=False %}</td>                                                                
                                                    <td>{% bootstrap_field emoluments.medical show_label=False %}</td>
                                                    <td>{% bootstrap_field emoluments.insurance show_label=False %}</td>                                                                
                                                    <td>{% bootstrap_field emoluments.any_other_deductions show_label=False %}</td>
                                                </tr>
                                                <tr>                                                              
                                                    <td>{% bootstrap_field emoluments.gross_deduction show_label=False %}</td>                                                                
                                                    <td>{% bootstrap_field emoluments.net_salary show_label=False %}</td> 
                                                </tr>                        
                                            </tbody>
                                            {% endif %}
                                        </table>
                                    </div>
                                </div>
                            </div>                                       
                        </div>
                    </div>
                    <div class="fixed-action-btn">                        
                        <a href="{% url 'student' %}" class="btn btn-success ml">Previous</a>
                        <a href="{% url 'background' %}" class="btn btn-success">Next</a>
                    </div>
                </div>    
            </div>
        </div>
    </section> 
{% endblock %}           